@use "../../1-abstracts/mixins" as main;
.main-center {
  position: relative;
  min-height: calc(100vh - 54px);
  background: linear-gradient(
      90deg,
      var(--clr-rgbaBlack-700),
      var(--clr-rgbaBlack-400)
    ),
    url("../../img/akash.jpg") center/cover fixed no-repeat;
  display: grid;
  align-content: center;
  &__intro-container {
    margin-left: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    p {
      span {
        @include main.UnderlineInSameDiv();
      }
      font-size: 2rem;
      color: var(--clr-yellow-400);
      text-align: start;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }
  &__btn-container {
    margin: 1rem 0 1rem 2rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__icons {
    margin-left: 2rem;
    i {
      color: var(--clr-green-100);
      font-size: 1.2rem;
      
      &:hover {
        color: var(--clr-yellow-400);
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  .main-center__down-angle {
    @include main.BackgroundClippedColors(
      $background:
        linear-gradient(45deg, var(--clr-green-100), var(--clr-yellow-300))
    ) {
      background-size: 400%;
      -webkit-animation: mainCenterHomepageArrowsDown 2s linear infinite both;
              animation: mainCenterHomepageArrowsDown 2s linear infinite both;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      display: grid;
    }

    &__icon {
      color: transparent;
      background: inherit;

      &:not(:nth-child(1)) {
        margin-top: -1rem;
      }
      &:nth-child(1) {
        -webkit-animation: mainCenterHomepageArrowsDown-arrows 0.3s linear 1 2.5s both;
                animation: mainCenterHomepageArrowsDown-arrows 0.3s linear 1 2.5s both;
      }
      &:nth-child(2) {
        -webkit-animation: mainCenterHomepageArrowsDown-arrows 0.3s linear 1 2s both;
                animation: mainCenterHomepageArrowsDown-arrows 0.3s linear 1 2s both;
      }
      &:nth-child(3) {
        -webkit-animation: mainCenterHomepageArrowsDown-arrows 0.3s linear 1 1.5s both;
                animation: mainCenterHomepageArrowsDown-arrows 0.3s linear 1 1.5s both;
      }
    }
  }
}

